mat-card{
  max-width: 90%;
  margin: 1em auto;
  text-align: center;
}


.img01{
  max-height: 280px;
  min-height: 280px;
  max-width:  300px;
  min-width: 300px;
  width: auto;
  height: auto;
}

.card-lado-lado {
  max-width: 25%;
  display: inline-flex;
  margin: auto;
  padding: auto;

}

.cardimg{
  max-width: 90%;
  min-width: 90%;
  max-height: 90%;
  min-height: 90%;
  width: auto;
  height: auto;
  

}

.alinhaCentro{
  justify-content: center;
  align-content: center;
  align-items: center;
}
.fontTitle{
  font-size: 100%;
}