<mat-card>

  <div class="row">
    <div class="col-md-8">
      <div class="pb-3" >
        <mat-toolbar class="toolbar02">
          Stickers Salvo
        </mat-toolbar>

        <mat-card-header></mat-card-header>

        <mat-card-content>
          <div class="mat-elevation-z8" >

          <ngb-carousel [showNavigationArrows]="true">
            <ng-template ngbSlide *ngFor="let sticker of figurinhas$ |async">

              <mat-card class="cardimg">
                <mat-card-header class="alinhaCentro">
                  <mat-card-title class="fontTitle">{{ sticker.titulodto }}</mat-card-title>
                </mat-card-header>

                <mat-card-content  class="picsum-img-wrapper alinhaCentro">

                    <img mat-card-image class="cardimg"  src={{sticker.imagemurldto}}>

                </mat-card-content>
                <mat-card-actions class="alinhaCentro">
                  <button mat-button  matTooltip="Visualizar Fig Original" (click)="onClickView(sticker.imagembase64)">
                    <mat-icon>visibility</mat-icon>
                  </button>
                  <button mat-button   matTooltip="Excluir Sticker" (click)="onClickDelete(sticker)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>
              </ng-template>
            </ngb-carousel>
            </div>
        </mat-card-content>
      </div>
    </div>
    <div class="col-md-4" >
      <div class="mat-elevation-z8">
      <mat-card class="newFig">
        <mat-card-header>
          <mat-toolbar class="toolbar02">
          <mat-card-title>{{ tipoDaFigurinha }}</mat-card-title>
        </mat-toolbar>
        </mat-card-header>
        <mat-card-content >
      <img mat-card-image class="img01" src = "{{ novafigurinha }}" />
    </mat-card-content>
    </mat-card>
  </div>
    </div>
  </div>
</mat-card>
